					.shape{
  text-align:center;
  background-color:#26367b;
  width:200px;
  height:80px;
  line-height:80px;
  color:white;
  margin:0px auto;
  position:relative;
  float:right;
}
.shape:before{
  content:"";
  width:0px;
 
  border-bottom:80px solid rgba(38,54,123,1);
  border-left:68px solid transparent;
  position:absolute;
  right:100%;
  top:0px;
}